<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Chalk Board Cafe</h1>
            <p class="lead">Bites between the classes</p>
            <hr class="my-4">
            <p class="lead">
                <%= link_to "Add menu", new_menu_path, class: "btn btn-primary btn-lg"%>
            </p>
        </div>
        <div class="col-md-6">
            <%= image_tag "burger.jpg", class: "landing-image" %>
        </div>
    </div>
</div>
