// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.upload-image {
  width: 400px;
}

.btn-right {
  float: right;
}

.card-img-top {
  max-height: 280px;
}

.menu-description {
  min-height: 50px;
}
